{{ form_start(form) }}
    <div class="form-group">
            <div class="container">
                <fieldset>
                    <legend>Date</legend>
                    <div class="form-group">
                        <label for="dtp_input1" class="col-md-2 control-label">Début</label>

                        <div class="input-group date form_datetime col-md-5" data-date="1979-09-16T05:25:07Z" data-date-format="" data-link-field="dtp_input1">
                            {{ form_widget(form.beginAt, {'attr': {'class': 'form-control'}}) }}
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>

                        <label for="dtp_input1" class="col-md-2 control-label">Fin</label>

                        <div class="input-group date form_datetime col-md-5" data-date="1979-09-16T05:25:07Z" data-date-format="" data-link-field="dtp_input1">
                            {{ form_widget(form.endAt, {'attr': {'class': 'form-control'}}) }}
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                    </div>
                </fieldset>


            <script type="text/javascript">

                $('.form_datetime').datetimepicker({
                    language: 'fr',
                    weekStart: 1,
                    todayBtn:  1,
                    autoclose: 1,
                    todayHighlight: 1,
                    startView: 2,
                    forceParse: 0,
                    showMeridian: 1,
                    format: 'yyyy-mm-dd hh:ii'
                });




            </script>
            <br />
        </div>

    </div>
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
