{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}
    <h1>Liste des repas</h1>


    <div class="content list">
        {% include 'nav.html.twig' %}
        <div class="container index-booking">
        <table class="table">
            <thead>
            <tr>
                <th>Début</th>
                <th>Plat</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for booking in bookings %}
                <tr>
                    <td class="td-ingredient td-list">{{ booking.beginAt ? booking.beginAt|date('Y-m-d') : '' }}</td>
                    <td class="td-ingredient td-list">{{ booking.title }}</td>
                    <td class="td-ingredient">
                        <a href="{{ path('booking_show', {'id': booking.id}) }}" class="btn btn-warning">Voir</a>
                        <a href="{{ path('booking_edit', {'id': booking.id}) }}" class="btn btn-warning">Ajout ingrédients</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun repas.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            <a href="{{ path('booking_new') }}" class="btn btn-warning btn-margin">Ajouter un nouveau plat</a>
        </div>
    </div>
{% endblock %}
