{% extends 'base.html.twig' %}

{% block title %}Repas{% endblock %}

{% block body %}
    <div class="content show-page">
        {% include 'nav.html.twig' %}
        <div class="container zone-1-show">
        <h1 class="txt-wht title">{{ booking.title }}</h1>
        <p class="begin txt-wht">Pour le : {{ booking.beginAt ? booking.beginAt|date('d-m-Y') : '' }}</p>
        </div>
        <div class="container">
        <h2 class="txt-wht">Ingrédients :</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="txt-wht">Nom</th>
                <th class="txt-wht">Quantité</th>
            </tr>
            </thead>
            <tbody>
            {% for ingredient in booking.ingredientMenus %}
                <tr>
                    <td class="td-ingredient">{{ ingredient.ingredient.name }}</td>
                    <td class="td-ingredient">{{ ingredient.quantity }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>

        </div>

            <a href="{{ path('booking_index') }}"><button class="btn btn-warning">Retour</button></a>

            <a href="{{ path('booking_edit', {'id': booking.id}) }}"><button class="btn btn-warning">Editer/Ajouter des ingrédients</button></a>

        </div>
    </div>
{% endblock %}
