{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

    <h1>Profil</h1>
    {% for message in app.flashes('message') %}
        <p class="alert alert-success">{{ message }}</p>
    {% endfor %}
    <div class="content profil">
        {% include 'nav.html.twig' %}
        <h2>Profil de {{ app.user.name }}</h2>
        <div class="container info-profil">
            <h3>Identité</h3>
            <hr/>
            <h4>Pseudo :</h4>
            <p>{{ app.user.name }}</p>

            <a href="{{ path('edit_profile') }}">
                <button class="btn btn-warning btn-margin"> Modifier mon pseudo</button>
            </a>
            <h3>Contact</h3>
            <hr>
            <h4>Adresse mail :</h4>
            <p>{{ app.user.email }}</p>
            <h3>Mot de passe :</h3>
            <hr>
            <a href="{{ path('edit_pass') }}">
                <button class="btn btn-warning btn-margin">Modifier mon mot de passe</button>
            </a>
            <a href="{{ path('delete_user', {'id':user.id}) }}">
                <button class="btn btn-danger btn-margin" onclick="return confirm('Êtes-vous sûr.e de vouloir supprimer votre compte ?');">Supprimer mon compte</button>
            </a>
        </div>
    </div>

{% endblock %}